<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body onload="init()">
    <script>
        var nmm = {};
        nmm.app = {};
        nmm.engine = {};
        nmm.tools = {};
        nmm.utils = {};
        nmm.uiPIXI = {};
        nmm.runtime = {};
        nmm.runtime.dimensions = {};
        nmm.runtime.appSetup = {};
    </script>

    <!--libs -->
    <script src="/src/libs/pixi_v4.min.js"></script>
    <script src="/src/libs/EasePack.min.js"></script>
    <script src="/src/libs/TweenLite.min.js"></script>
    <script src="/src/libs/soundjs-0.6.2.min.js"></script>
    <!-- app code -->
    <script src="/src/nmm/uiPIXI/TexturedBtn.js"></script>
    <script src="/src/nmm/app/ViewProto.js"></script>
    <script src="/src/nmm/app/Pool.js"></script>
    <script src="/src/nmm/app/ScoreView.js"></script>
    <script src="/src/nmm/app/Card.js"></script>
    <script src="/src/nmm/app/GameView.js"></script>
    <script src="/src/nmm/app/GameListElement.js"></script>
    <script src="/src/nmm/app/GameSelectionView.js"></script>
    <script src="/src/nmm/app/DifficultyView.js"></script>
    <script src="/src/nmm/app/MenuView.js"></script>
    <script src="/src/nmm/app/Bg.js"></script>
    <script src="/src/nmm/app/ViewManager.js"></script>
    <script src="/src/nmm/app/Model.js"></script>
    <script src="/src/nmm/app/SceneController.js"></script>
    <script src="/src/nmm/engine/AssetsLoader.js"></script>
    <script src="/src/nmm/tools/Preloader.js"></script>
    <script src="/src/nmm/tools/Resize.js"></script>
    <script src="/src/nmm/engine/Main.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <script>
        function init () {
            nmm.runtime.main = new nmm.engine.Application();
        }
    </script>
</body>
</html>